<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management API</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <h1>User Management API</h1>
            <p>Manage users and friends with our simple API. Try it live at <a
                    href="https://user-management-frontend-inky.vercel.app"
                    target="_blank">user-management-frontend-inky.vercel.app</a></p>
            <a href="https://www.postman.com/material-geoscientist-8878689/workspace/user-management/collection/30920715-88be50b4-7355-42bd-a535-4d7ccef3ca4d"
                class="btn" target="_blank">View Postman Docs</a>
        </div>
    </header>
    <section class="features">
        <div class="container">
            <h2>Features</h2>
            <div class="feature-list">
                <div class="feature-item">
                    <h3>User Registration</h3>
                    <p>Register new users with a simple API call.</p>
                </div>
                <div class="feature-item">
                    <h3>User Login</h3>
                    <p>Authenticate users and provide access tokens.</p>
                </div>
                <div class="feature-item">
                    <h3>Manage Friends</h3>
                    <p>Add and remove friends for users easily.</p>
                </div>
                <div class="feature-item">
                    <h3>Get User Info</h3>
                    <p>Retrieve user details and their friend list.</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 User Management API. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>